:root {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5
}

main_wrapper{
    margin: 0 auto;
    width: 100%;
}
    
nav {
    background-color: #AEA0E6;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
nav ul {
    background-color: #AEA0E6;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    padding: 0.5em;
    margin: 0;
}

nav ul li {
    display: block;
    padding: 1em 2em;
    text-align: center;
}

@media (max-width: 800px){
    nav ul {
        grid-template-columns: repeat(2, 1fr);
    }
    #item7 {
        grid-column: span 2;
    }
    nav ul li {
        padding: 0.5em 2em;
    }
    }


nav ul li a{
    text-decoration: none;
    font-size: 18px; 
    display: block;
    color: rgb(85, 26, 139);
}

nav ul li a:hover {
    text-decoration: underline;
   }

.right-side {
background-color:#D2CAF2
}

.left-side {
background-color:#C6BBF2
}


#title h1 {
font-size: 50px;
font-weight: 600;
margin: 0.83em;

}

#title p {
    font-size: 20px;
    margin: 2.4em;
    }


   main {
    display: grid;
    grid-template-columns: 380px 1fr;
}
#contacts ul {
    padding:0;
    list-style: none;
}
#contacts ul li:before {
    padding-right:10px;
    font-weight: bold;
    color: #77AEDB;
    content: "\2606";
}

h2 {
    padding: 1em 2em;
    font-size: 24px;
    background-color: #AEA0E6;
}

section p {
margin: 0 2.9em;
}
section ul {
    list-style: none;
    padding: 0;
}
section ul li {
    list-style: none;
    padding: 1em 0;
}


.skills_list {
    margin: 0 2.9em;
    padding: 0;
    columns: 2;
}
.skills_list li {
    padding: 0.5em 0;
    text-align: center;
}

pre {
    text-align: center;
}
section a {
    text-decoration: none;
    margin: 1em 2.9em;
    display: block;

}

footer {
    background-color: #AEA0E6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 20px 60px;
}
@media (max-width: 450px){
    footer {
        grid-template-columns: repeat(1, 1fr);
        padding: 20px 30px;
    }
    }
footer > * {
    text-align: center;
    color: rgb(85, 26, 139);
    font: 18px Arial, sans-serif;
    padding: 1em;
    margin:0
}
footer a{
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
   }

